// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";
.sortable-table {
    .form--control {
        height: 30px;
        padding: 0px 10px;
    }

    .btn--margin-left {
        margin-left: 10px;
    }

    .btn--margin-right {
        margin-right: 10px;
    }

    .search-box {
        padding: 10px 0px;

        input.search {
            width: 200px;
            margin-left: 10px;
            height: 30px;
            border: none;
            padding-left: 10px;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            border-radius: 15px;
            border: 2px solid#CCC;
        }
    }

    .pager {
        margin: 5px 0;

        >* {
            float: left;
        }

        select.page-select {
            width: 80px;
        }

        &:after {
            content: "";
            clear: both;
            display: block;
        }

        .SortableTblLabel {
            height: 80px;
            line-height: 30px;
        }
    }

    .desc {
        margin: 5px 0;
        text-align: right;

        select.page-select {
            width: 80px;
        }
    }

    .right {
        >* {
            float: right;
        }

        margin: 5px 0;
        text-align: right;

        .SortableTblLabel {
            height: 25px;
            line-height: 25px;
            padding-right: 5px;
        }

        select.page-select {
            width: 80px;
        }
    }
}

#paginationByStep {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    padding: 1px 2px 4px 2px;
    background-color: transparent;

}

#paginationByStep button,
#paginationByStep i {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    color: #7D7D7D;
    text-align: center;
    font-size: 10px;
    padding: 3px 0 2px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#paginationByStep button {
    margin: 0 2px 0 2px;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 #FFF, 0 1px 2px #666;
    text-shadow: 0 1px 1px #FFF;
    background-color: #E6E6E6;
    background-image: -webkit-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image: -moz-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image: -ms-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image: -o-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image: linear-gradient(top, #F3F3F3, #D7D7D7);
}

#paginationByStep i {
    margin: 0 3px 0 3px;
}

#paginationByStep button.current {
    border: 1px solid #E9E9E9;
    box-shadow: 0 1px 1px #999;
    background-color: #DFDFDF;
    background-image: -webkit-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image: -moz-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image: -ms-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image: -o-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image: linear-gradient(top, #D0D0D0, #EBEBEB);
}